### IMPORTACION DATOS Y CREACION DATAFRAME

In [16]:
# LIBRERIAS

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# IMPORTACION CSV RRHH_15072025

RRHH_15072025 = pd.read_csv(r"C:\Users\MAITE\Desktop\JOSE\GIT_RRHH\ProjecteData\Equip_12\Drafts\RRHH_15072025_original.csv")

RRHH_15072025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1110 non-null   int64
 1   Reason_absence           1110 non-null   int64
 2   Month_absence            1110 non-null   int64
 3   Day_week                 1110 non-null   int64
 4   Seasons                  1110 non-null   int64
 5   Transportation_expense   1110 non-null   int64
 6   Distance_Residence_Work  1110 non-null   int64
 7   Service_time             1110 non-null   int64
 8   Age                      1110 non-null   int64
 9   Work_load_Average_day    1110 non-null   object
 10  Hit_target               1110 non-null   int64
 11  Disciplinary_failure     1110 non-null   int64
 12  Education                1110 non-null   int64
 13  Son                      1110 non-null   int64
 14  Social_drinker           1110 non-null   int64
 15  Social_smoker            1110 non-null   int64
 16  Pet                      1110 non-null   int64
 17  Weight                   1110 non-null   int64
 18  Height                   1110 non-null   int64
 19  Body_mass_index          1110 non-null   int64
 20  Absenteeism_hours        1110 non-null   int64
dtypes: int64(20), object(1)
memory usage: 182.2+ KB

In [18]:
# CREACION DATAFRAME df_rrhh_15072025

df_rrhh_15072025 = RRHH_15072025.copy()
df_rrhh_15072025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1110 entries, 0 to 1109
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1110 non-null   int64
 1   Reason_absence           1110 non-null   int64
 2   Month_absence            1110 non-null   int64
 3   Day_week                 1110 non-null   int64
 4   Seasons                  1110 non-null   int64
 5   Transportation_expense   1110 non-null   int64
 6   Distance_Residence_Work  1110 non-null   int64
 7   Service_time             1110 non-null   int64
 8   Age                      1110 non-null   int64
 9   Work_load_Average_day    1110 non-null   object
 10  Hit_target               1110 non-null   int64
 11  Disciplinary_failure     1110 non-null   int64
 12  Education                1110 non-null   int64
 13  Son                      1110 non-null   int64
 14  Social_drinker           1110 non-null   int64
 15  Social_smoker            1110 non-null   int64
 16  Pet                      1110 non-null   int64
 17  Weight                   1110 non-null   int64
 18  Height                   1110 non-null   int64
 19  Body_mass_index          1110 non-null   int64
 20  Absenteeism_hours        1110 non-null   int64
dtypes: int64(20), object(1)
memory usage: 182.2+ KB

### DUPLICADOS

In [19]:
# ELIMINACION DE DUPLICADOS

df_rrhh_15072025_v1 = df_rrhh_15072025.copy()

df_rrhh_15072025 = df_rrhh_15072025_v1.drop_duplicates(inplace=False)

### Nan

In [20]:
# Comprobación de NAN

df_rrhh_15072025[df_rrhh_15072025.isnull().any(axis=1)]

Empty DataFrame
Columns: [ID, Reason_absence, Month_absence, Day_week, Seasons, Transportation_expense, Distance_Residence_Work, Service_time, Age, Work_load_Average_day, Hit_target, Disciplinary_failure, Education, Son, Social_drinker, Social_smoker, Pet, Weight, Height, Body_mass_index, Absenteeism_hours]
Index: []

[0 rows x 21 columns]

### COMPROBACION ID DE EMPLEADO

In [21]:
# Comprobacion de numero de IDs de empleados
df_empleado_id = df_rrhh_15072025[['ID','Age','Education','Son','Pet','Weight','Height','Body_mass_index','Social_drinker','Social_smoker']].drop_duplicates()

id_duplicados = df_empleado_id['ID'].value_counts().reset_index()
id_duplicados = id_duplicados[id_duplicados['count']>1]

empleado_id_29 = df_empleado_id[df_empleado_id['ID']==29]
#empleado_id_29
#id_duplicados

In [22]:
# Modificacion del id 29 a id 137 donde Age = 28

df_rrhh_15072025.loc[(df_rrhh_15072025['ID'] == 29) & (df_rrhh_15072025['Age'] == 28), 'ID'] = 387

In [28]:
# CALCULO DEL NUM DE IDs UNICOS / despues modificacion id 
num_ids_unicos_2 = df_rrhh_15072025['ID'].nunique()
num_ids_unicos_2

387

### MODIFICACION TIPO DE DATOS

In [24]:
# MODIFICACION TIPO DE DATOS DATAFRAME df_rrhh_15072025

df_rrhh_15072025 = df_rrhh_15072025.copy()
columnas_a_convertir_1 = ['ID','Reason_absence','Month_absence','Day_week','Seasons','Disciplinary_failure','Education','Social_drinker','Social_smoker']
df_rrhh_15072025[columnas_a_convertir_1] = df_rrhh_15072025[columnas_a_convertir_1].apply(lambda col: col.astype('category'))

columnas_a_convertir_2 = ['Son','Pet']
df_rrhh_15072025[columnas_a_convertir_2] = df_rrhh_15072025[columnas_a_convertir_2].apply(lambda col: col.astype('int64'))


df_rrhh_15072025['Work_load_Average_day'] = pd.to_numeric(
    df_rrhh_15072025['Work_load_Average_day'].apply(lambda x: str(x).replace(',', '.') if isinstance(x, str) else x),
    errors='coerce').astype('float')

#df_rrhh_15072025.info()

In [25]:
# CREACION COLUMNAS NOMBRES DE CODIGOS TEMPORALES

# creacion columnas nombre estaciones
mapa = {1: 'summer', 2: 'autum', 3: 'winter',4:'spring'}
df_rrhh_15072025['Seasons_name'] = df_rrhh_15072025['Seasons'].map(mapa)

# creacion columnas nombre meses
mapa2 = {0:'Unknown', 1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
df_rrhh_15072025['Month_absence_name'] = df_rrhh_15072025['Month_absence'].map(mapa2)

# creacion columnas nombre dias de semana
mapa3 = {2: 'Monday', 3: 'Tuesday',4:'Wednesday',5: 'Thursday', 6: 'Friday'}
df_rrhh_15072025['Day_week_name'] = df_rrhh_15072025['Day_week'].map(mapa3)

# creacion columnas nombre educacion
mapa4 = {1: 'Secundaria', 2: 'Graduado',3:'Postgraduado',4: 'Master_y_Doctor'}
df_rrhh_15072025['Education_name'] = df_rrhh_15072025['Education'].map(mapa4)

# cambio del tipo de datos
columnas_a_convertir = ['Seasons_name','Month_absence_name','Day_week_name','Education_name']
df_rrhh_15072025[columnas_a_convertir] = df_rrhh_15072025[columnas_a_convertir].astype('category')
df_rrhh_15072025.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1056 entries, 0 to 1094
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1056 non-null   category
 1   Reason_absence           1056 non-null   category
 2   Month_absence            1056 non-null   category
 3   Day_week                 1056 non-null   category
 4   Seasons                  1056 non-null   category
 5   Transportation_expense   1056 non-null   int64
 6   Distance_Residence_Work  1056 non-null   int64
 7   Service_time             1056 non-null   int64
 8   Age                      1056 non-null   int64
 9   Work_load_Average_day    1056 non-null   float64
 10  Hit_target               1056 non-null   int64
 11  Disciplinary_failure     1056 non-null   category
 12  Education                1056 non-null   category
 13  Son                      1056 non-null   int64
 14  Social_drinker           1056 non-null   category
 15  Social_smoker            1056 non-null   category
 16  Pet                      1056 non-null   int64
 17  Weight                   1056 non-null   int64
 18  Height                   1056 non-null   int64
 19  Body_mass_index          1056 non-null   int64
 20  Absenteeism_hours        1056 non-null   int64
 21  Seasons_name             1056 non-null   category
 22  Month_absence_name       1056 non-null   category
 23  Day_week_name            1056 non-null   category
 24  Education_name           1056 non-null   category
dtypes: category(13), float64(1), int64(11)
memory usage: 136.9 KB

In [26]:
# CREACION COLUMNAS rango edad - antiguedad 

bins = [0, 5, 10, 15, 20, 25, 30]
labels = ['0-5', '6-10', '11-15', '16-20','21-25','26-30']
df_rrhh_15072025['rango_antiguedad'] = pd.cut(df_rrhh_15072025['Service_time'],bins=bins,labels=labels)

bins_2 = [20,30, 40, 50, 60]
labels = ['20-30', '31-40', '41-50', '51-60']
df_rrhh_15072025['rango_edad'] = pd.cut(df_rrhh_15072025['Age'],bins=bins_2,labels=labels)

In [27]:
# DATAFRAME df_rrhh_15072025 final

df_rrhh_15072025.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1056 entries, 0 to 1094
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       1056 non-null   category
 1   Reason_absence           1056 non-null   category
 2   Month_absence            1056 non-null   category
 3   Day_week                 1056 non-null   category
 4   Seasons                  1056 non-null   category
 5   Transportation_expense   1056 non-null   int64
 6   Distance_Residence_Work  1056 non-null   int64
 7   Service_time             1056 non-null   int64
 8   Age                      1056 non-null   int64
 9   Work_load_Average_day    1056 non-null   float64
 10  Hit_target               1056 non-null   int64
 11  Disciplinary_failure     1056 non-null   category
 12  Education                1056 non-null   category
 13  Son                      1056 non-null   int64
 14  Social_drinker           1056 non-null   category
 15  Social_smoker            1056 non-null   category
 16  Pet                      1056 non-null   int64
 17  Weight                   1056 non-null   int64
 18  Height                   1056 non-null   int64
 19  Body_mass_index          1056 non-null   int64
 20  Absenteeism_hours        1056 non-null   int64
 21  Seasons_name             1056 non-null   category
 22  Month_absence_name       1056 non-null   category
 23  Day_week_name            1056 non-null   category
 24  Education_name           1056 non-null   category
 25  rango_antiguedad         1056 non-null   category
 26  rango_edad               1056 non-null   category
dtypes: category(15), float64(1), int64(11)
memory usage: 139.4 KB