In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
import mysql.connector

mydb = mysql.connector.connect(
    host="212.227.90.6",
    database="Equip_14",
    user="Equipo14",
    password="E1q2u3i4p5o14"
)

cursor = mydb.cursor()
cursor.execute("SELECT * FROM RRHH") 

resultados = cursor.fetchall()

columnas = [desc[0] for desc in cursor.description]
df_rrhh = pd.DataFrame(resultados, columns=columnas)

df_rrhh 
df_rrhh.info()
df_rrhh.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       740 non-null    int64
 1   Reason_absence           740 non-null    int64
 2   Month_absence            740 non-null    int64
 3   Day_week                 740 non-null    int64
 4   Seasons                  740 non-null    int64
 5   Transportation_expense   740 non-null    int64
 6   Distance_Residence_Work  740 non-null    int64
 7   Service_time             740 non-null    int64
 8   Age                      740 non-null    int64
 9   Work_load_Average_day    740 non-null    object
 10  Hit_target               740 non-null    int64
 11  Disciplinary_failure     740 non-null    object
 12  Education                740 non-null    object
 13  Son                      740 non-null    object
 14  Social_drinker           740 non-null    object
 15  Social_smoker            740 non-null    object
 16  Pet                      740 non-null    object
 17  Weight                   740 non-null    int64
 18  Height                   740 non-null    int64
 19  Body_mass_index          740 non-null    int64
 20  Absenteeism_hours        740 non-null    int64
dtypes: int64(14), object(7)
memory usage: 121.5+ KB

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,14,11,11,2,4,155,12,14,34,"284,031",...,0,1,2,1,0,0,95,196,25,120
1,36,13,4,4,3,118,13,18,50,"239,409",...,0,1,1,1,0,0,98,178,31,120
2,9,6,7,3,1,228,14,16,58,"264,604",...,0,1,2,0,0,1,65,172,22,120
3,28,9,7,3,1,225,26,9,28,"230,290",...,0,1,1,0,0,2,69,169,24,112
4,9,12,3,3,2,228,14,16,58,"222,196",...,0,1,2,0,0,1,65,172,22,112

In [3]:
# Revisar si hay Missing Values: no hay
df_rrhh.isnull().sum()

ID                         0
Reason_absence             0
Month_absence              0
Day_week                   0
Seasons                    0
Transportation_expense     0
Distance_Residence_Work    0
Service_time               0
Age                        0
Work_load_Average_day      0
Hit_target                 0
Disciplinary_failure       0
Education                  0
Son                        0
Social_drinker             0
Social_smoker              0
Pet                        0
Weight                     0
Height                     0
Body_mass_index            0
Absenteeism_hours          0
dtype: int64

In [4]:
df_rrhh = df_rrhh.sort_values(by='ID').reset_index(drop=True)
df_rrhh.info()
df_rrhh.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       740 non-null    int64
 1   Reason_absence           740 non-null    int64
 2   Month_absence            740 non-null    int64
 3   Day_week                 740 non-null    int64
 4   Seasons                  740 non-null    int64
 5   Transportation_expense   740 non-null    int64
 6   Distance_Residence_Work  740 non-null    int64
 7   Service_time             740 non-null    int64
 8   Age                      740 non-null    int64
 9   Work_load_Average_day    740 non-null    object
 10  Hit_target               740 non-null    int64
 11  Disciplinary_failure     740 non-null    object
 12  Education                740 non-null    object
 13  Son                      740 non-null    object
 14  Social_drinker           740 non-null    object
 15  Social_smoker            740 non-null    object
 16  Pet                      740 non-null    object
 17  Weight                   740 non-null    int64
 18  Height                   740 non-null    int64
 19  Body_mass_index          740 non-null    int64
 20  Absenteeism_hours        740 non-null    int64
dtypes: int64(14), object(7)
memory usage: 121.5+ KB

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,1,0,3,5,3,235,11,14,37,"244,387",...,1,3,1,0,0,1,88,172,29,0
1,1,18,11,4,4,235,11,14,37,"284,031",...,0,3,1,0,0,1,88,172,29,1
2,1,25,11,5,4,235,11,14,37,"284,031",...,0,3,1,0,0,1,88,172,29,2
3,1,13,1,3,2,235,11,14,37,"330,061",...,0,3,1,0,0,1,88,172,29,1
4,1,25,12,5,4,235,11,14,37,"236,629",...,0,3,1,0,0,1,88,172,29,2

In [5]:
# Revisar si hay registros duplcados exactos: hay 34
df_rrhh.duplicated().sum()

np.int64(34)

In [6]:
df_rrhh[df_rrhh.duplicated()]

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
53,3,28,12,6,4,179,51,18,38,"236,629",...,0,1,0,1,0,0,89,170,31,1
79,3,27,2,4,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
83,3,27,3,4,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,2
90,3,27,2,5,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
93,3,27,2,4,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
94,3,27,2,6,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
95,3,27,2,2,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
98,3,27,3,4,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,2
103,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
107,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
108,3,27,2,6,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
111,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
125,3,27,2,6,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
126,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
128,3,27,3,5,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,3
130,3,27,3,5,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,3
156,5,23,10,2,4,235,20,13,43,"265,017",...,0,1,1,1,0,0,106,167,38,2
193,10,22,12,4,4,361,52,3,28,"261,306",...,0,1,1,1,0,4,80,172,27,8
328,15,28,5,5,3,291,31,12,40,"237,656",...,0,1,1,1,0,1,73,171,25,2
452,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
453,22,27,5,6,3,179,26,9,30,"237,656",...,0,3,0,0,0,0,56,171,19,2
454,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
455,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
466,22,23,5,4,3,179,26,9,30,"246,074",...,0,3,0,0,0,0,56,171,19,3
500,24,28,7,3,1,246,25,16,41,"230,290",...,0,1,0,1,0,0,67,170,23,2
506,24,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,1
526,27,23,1,5,2,184,42,7,27,"308,593",...,0,1,0,0,0,0,58,167,21,2
583,28,23,11,4,4,225,26,9,28,"306,345",...,0,1,1,0,0,2,69,169,24,1
587,28,23,12,4,4,225,26,9,28,"280,549",...,0,1,1,0,0,2,69,169,24,3
688,34,27,1,3,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
692,34,27,1,2,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
695,34,27,1,5,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
696,34,27,1,4,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
704,34,23,10,3,4,118,10,10,37,"253,465",...,0,1,0,0,0,0,83,172,28,3

In [7]:
# Mostrar las filas que son duplicados exactos (excepto la primera aparición)
duplicates = df_rrhh[df_rrhh.duplicated()]
duplicates

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
53,3,28,12,6,4,179,51,18,38,"236,629",...,0,1,0,1,0,0,89,170,31,1
79,3,27,2,4,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
83,3,27,3,4,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,2
90,3,27,2,5,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
93,3,27,2,4,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
94,3,27,2,6,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
95,3,27,2,2,2,179,51,18,38,"264,249",...,0,1,0,1,0,0,89,170,31,2
98,3,27,3,4,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,2
103,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
107,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
108,3,27,2,6,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
111,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
125,3,27,2,6,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
126,3,27,2,4,2,179,51,18,38,"251,818",...,0,1,0,1,0,0,89,170,31,3
128,3,27,3,5,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,3
130,3,27,3,5,2,179,51,18,38,"222,196",...,0,1,0,1,0,0,89,170,31,3
156,5,23,10,2,4,235,20,13,43,"265,017",...,0,1,1,1,0,0,106,167,38,2
193,10,22,12,4,4,361,52,3,28,"261,306",...,0,1,1,1,0,4,80,172,27,8
328,15,28,5,5,3,291,31,12,40,"237,656",...,0,1,1,1,0,1,73,171,25,2
452,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
453,22,27,5,6,3,179,26,9,30,"237,656",...,0,3,0,0,0,0,56,171,19,2
454,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
455,22,27,4,6,3,179,26,9,30,"246,288",...,0,3,0,0,0,0,56,171,19,2
466,22,23,5,4,3,179,26,9,30,"246,074",...,0,3,0,0,0,0,56,171,19,3
500,24,28,7,3,1,246,25,16,41,"230,290",...,0,1,0,1,0,0,67,170,23,2
506,24,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,1
526,27,23,1,5,2,184,42,7,27,"308,593",...,0,1,0,0,0,0,58,167,21,2
583,28,23,11,4,4,225,26,9,28,"306,345",...,0,1,1,0,0,2,69,169,24,1
587,28,23,12,4,4,225,26,9,28,"280,549",...,0,1,1,0,0,2,69,169,24,3
688,34,27,1,3,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
692,34,27,1,2,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
695,34,27,1,5,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
696,34,27,1,4,2,118,10,10,37,"308,593",...,0,1,0,0,0,0,83,172,28,2
704,34,23,10,3,4,118,10,10,37,"253,465",...,0,1,0,0,0,0,83,172,28,3

In [8]:
# Guardo una copia de los duplicados exactos con indice
duplicates.to_csv('exact_duplicates.csv', index=True)

In [9]:
# elimino duplicados
df_rrhh = df_rrhh.drop_duplicates()

In [10]:
df_rrhh.duplicated().sum()

np.int64(0)

In [11]:
# Cambiar tipo de datos de las columnas acordadas
df_rrhh['ID'] = df_rrhh['ID'].astype(str).str.strip()
df_rrhh['Reason_absence'] = df_rrhh['Reason_absence'].astype(str).str.strip()
df_rrhh['Seasons'] = df_rrhh['Seasons'].astype(str).str.strip()
df_rrhh['Social_drinker'] = df_rrhh['Social_drinker'].astype(int)
df_rrhh['Social_smoker'] = df_rrhh['Social_smoker'].astype(int)
df_rrhh['Disciplinary_failure'] = df_rrhh['Disciplinary_failure'].astype(int)
df_rrhh['Son'] = df_rrhh['Son'].astype(int)
df_rrhh['Pet'] = df_rrhh['Pet'].astype(int)

In [12]:
df_rrhh.info()

<class 'pandas.core.frame.DataFrame'>
Index: 706 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       706 non-null    object
 1   Reason_absence           706 non-null    object
 2   Month_absence            706 non-null    int64
 3   Day_week                 706 non-null    int64
 4   Seasons                  706 non-null    object
 5   Transportation_expense   706 non-null    int64
 6   Distance_Residence_Work  706 non-null    int64
 7   Service_time             706 non-null    int64
 8   Age                      706 non-null    int64
 9   Work_load_Average_day    706 non-null    object
 10  Hit_target               706 non-null    int64
 11  Disciplinary_failure     706 non-null    int64
 12  Education                706 non-null    object
 13  Son                      706 non-null    int64
 14  Social_drinker           706 non-null    int64
 15  Social_smoker            706 non-null    int64
 16  Pet                      706 non-null    int64
 17  Weight                   706 non-null    int64
 18  Height                   706 non-null    int64
 19  Body_mass_index          706 non-null    int64
 20  Absenteeism_hours        706 non-null    int64
dtypes: int64(16), object(5)
memory usage: 121.3+ KB

In [13]:
df_rrhh['Social_drinker'] = df_rrhh['Social_drinker'].astype(bool)
df_rrhh['Social_smoker'] = df_rrhh['Social_smoker'].astype(bool)
df_rrhh['Disciplinary_failure'] = df_rrhh['Disciplinary_failure'].astype(bool)
df_rrhh['Work_load_Average_day'] = df_rrhh['Work_load_Average_day'].astype(str).str.replace(',', '.', regex=False).astype(float)

In [14]:
df_rrhh.info()
df_rrhh.head()

<class 'pandas.core.frame.DataFrame'>
Index: 706 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       706 non-null    object
 1   Reason_absence           706 non-null    object
 2   Month_absence            706 non-null    int64
 3   Day_week                 706 non-null    int64
 4   Seasons                  706 non-null    object
 5   Transportation_expense   706 non-null    int64
 6   Distance_Residence_Work  706 non-null    int64
 7   Service_time             706 non-null    int64
 8   Age                      706 non-null    int64
 9   Work_load_Average_day    706 non-null    float64
 10  Hit_target               706 non-null    int64
 11  Disciplinary_failure     706 non-null    bool
 12  Education                706 non-null    object
 13  Son                      706 non-null    int64
 14  Social_drinker           706 non-null    bool
 15  Social_smoker            706 non-null    bool
 16  Pet                      706 non-null    int64
 17  Weight                   706 non-null    int64
 18  Height                   706 non-null    int64
 19  Body_mass_index          706 non-null    int64
 20  Absenteeism_hours        706 non-null    int64
dtypes: bool(3), float64(1), int64(13), object(4)
memory usage: 106.9+ KB

,ID,Reason_absence,Month_absence,Day_week,Seasons,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,...,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
0,1,0,3,5,3,235,11,14,37,244.387,...,True,3,1,False,False,1,88,172,29,0
1,1,18,11,4,4,235,11,14,37,284.031,...,False,3,1,False,False,1,88,172,29,1
2,1,25,11,5,4,235,11,14,37,284.031,...,False,3,1,False,False,1,88,172,29,2
3,1,13,1,3,2,235,11,14,37,330.061,...,False,3,1,False,False,1,88,172,29,1
4,1,25,12,5,4,235,11,14,37,236.629,...,False,3,1,False,False,1,88,172,29,2

In [15]:
# Columnas Month_abcense y Day_week:  para series de tiempo
# Verifico que los valores de Month_abcense estén dentro del rango del 1 al 12
df_rrhh['Month_absence'].unique()

array([ 3, 11,  1, 12, 10,  7,  8,  5,  4,  6,  2,  9,  0])

In [16]:
# Verifico que los valores de Day_week estén dentro del rango del 2 al 6
df_rrhh['Day_week'].unique()

array([5, 4, 3, 2, 6])

In [17]:
df_rrhh.describe()

,Month_absence,Day_week,Transportation_expense,Distance_Residence_Work,Service_time,Age,Work_load_Average_day,Hit_target,Son,Pet,Weight,Height,Body_mass_index,Absenteeism_hours
count,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000,706.000000
mean,6.410765,3.890935,222.977337,29.297450,12.495751,36.478754,272.089984,94.548159,1.060907,0.769122,79.005666,172.202550,26.635977,7.143059
std,3.404811,1.425503,67.293426,14.706661,4.370190,6.563404,39.458780,3.803854,1.104717,1.333351,12.862501,6.159814,4.254901,13.608120
min,0.000000,2.000000,118.000000,5.000000,1.000000,27.000000,205.917000,81.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,3.000000,3.000000,179.000000,16.000000,9.000000,31.000000,244.387000,92.250000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,6.000000,4.000000,225.000000,26.000000,13.000000,37.000000,264.604000,95.000000,1.000000,0.000000,80.000000,171.000000,25.000000,3.000000
75%,9.750000,5.000000,260.000000,49.000000,16.000000,40.000000,294.217000,97.000000,2.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,12.000000,6.000000,388.000000,52.000000,29.000000,58.000000,378.884000,100.000000,4.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [18]:
df_rrhh.to_csv('cleaned_rrhh.csv', index=True)

In [19]:
df_absences = df_rrhh[['ID', 'Reason_absence', 'Month_absence', 'Day_week', 'Seasons', 
           'Work_load_Average_day', 'Hit_target', 'Absenteeism_hours']]
df_absences = df_absences.sort_values(by='ID')
df_absences.info()
df_absences.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 706 entries, 0 to 184
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     706 non-null    object
 1   Reason_absence         706 non-null    object
 2   Month_absence          706 non-null    int64
 3   Day_week               706 non-null    int64
 4   Seasons                706 non-null    object
 5   Work_load_Average_day  706 non-null    float64
 6   Hit_target             706 non-null    int64
 7   Absenteeism_hours      706 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 49.6+ KB

,Month_absence,Day_week,Work_load_Average_day,Hit_target,Absenteeism_hours
count,706.000000,706.000000,706.000000,706.000000,706.000000
mean,6.410765,3.890935,272.089984,94.548159,7.143059
std,3.404811,1.425503,39.458780,3.803854,13.608120
min,0.000000,2.000000,205.917000,81.000000,0.000000
25%,3.000000,3.000000,244.387000,92.250000,2.000000
50%,6.000000,4.000000,264.604000,95.000000,3.000000
75%,9.750000,5.000000,294.217000,97.000000,8.000000
max,12.000000,6.000000,378.884000,100.000000,120.000000

In [23]:
df_rrhh_nodup = df_rrhh.drop_duplicates(subset="ID")
df_rrhh_nodup = df_rrhh_nodup.sort_values(by= "ID").reset_index(drop=True)
df_rrhh_nodup.index = df_rrhh_nodup.index+1

columns_to_keep = [
    "ID", "Transportation_expense", "Distance_Residence_Work",
    "Service_time", "Age", "Disciplinary_failure", "Education", "Son",
    "Social_drinker", "Social_smoker", "Pet", "Weight", "Height", "Body_mass_index"
]

df_rrhh_nodup = df_rrhh_nodup[columns_to_keep]
df_rrhh_nodup#.describe()

,ID,Transportation_expense,Distance_Residence_Work,Service_time,Age,Disciplinary_failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index
1,1,235,11,14,37,True,3,1,False,False,1,88,172,29
2,10,361,52,3,28,False,1,1,True,False,4,80,172,27
3,11,289,36,13,33,False,1,2,True,False,1,90,172,30
4,12,233,51,1,31,False,2,1,True,False,8,68,178,21
5,13,369,17,12,31,False,1,3,True,False,0,70,169,25
6,14,155,12,14,34,False,1,2,True,False,0,95,196,25
7,15,291,31,12,40,True,1,1,True,False,1,73,171,25
8,16,118,15,24,46,False,1,2,True,True,0,75,175,25
9,17,179,22,17,40,False,2,2,False,True,0,63,170,22
10,18,330,16,4,28,True,2,0,False,False,0,84,182,25
11,19,291,50,12,32,False,1,0,True,False,0,65,169,23
12,2,235,29,12,48,False,1,1,False,True,5,88,163,33
13,20,260,50,11,36,False,1,4,True,False,0,65,168,23
14,21,268,11,8,33,True,2,0,False,False,0,79,178,25
15,22,179,26,9,30,False,3,0,False,False,0,56,171,19
16,23,378,49,11,36,True,1,2,False,True,4,65,174,21
17,24,246,25,16,41,False,1,0,True,False,0,67,170,23
18,25,235,16,8,32,False,3,0,False,False,0,75,178,25
19,26,300,26,13,43,False,1,2,True,True,1,77,175,25
20,27,184,42,7,27,False,1,0,False,False,0,58,167,21
21,28,225,26,9,28,False,1,1,False,False,2,69,169,24
22,29,225,15,15,41,False,4,2,True,False,2,94,182,28
23,3,179,51,18,38,False,1,0,True,False,0,89,170,31
24,30,157,27,6,29,True,1,0,True,True,0,75,185,22
25,31,388,15,9,50,False,1,0,False,False,0,76,178,24
26,32,289,48,29,49,False,1,0,False,False,2,108,172,36
27,33,248,25,14,47,False,1,2,False,False,1,86,165,32
28,34,118,10,10,37,False,1,0,False,False,0,83,172,28
29,35,179,45,14,53,False,1,1,False,False,1,77,175,25
30,36,118,13,18,50,False,1,1,True,False,0,98,178,31
31,4,118,14,13,40,False,1,1,True,False,8,98,170,34
32,5,235,20,13,43,True,1,1,True,False,0,106,167,38
33,6,189,29,13,33,False,1,2,False,False,2,69,167,25
34,7,279,5,14,39,False,1,2,True,True,0,68,168,24
35,8,231,35,14,39,True,1,2,True,False,2,100,170,35
36,9,228,14,16,58,False,1,2,False,False,1,65,172,22

In [22]:
print(df_rrhh_nodup.columns)

Index(['ID', 'Transportation_expense', 'Distance_Residence_Work',
       'Service_time', 'Age', 'Disciplinary_failure', 'Education', 'Son',
       'Social_drinker', 'Social_smoker', 'Pet', 'Weight', 'Height',
       'Body_mass_index'],
      dtype='object')